* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.app {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  background-color: rgb(241, 241, 241);
}

Header {
  background-color: white;
  height: 200px;
  padding: 50px;
  border-bottom: 2px solid grey;
}

h1 {
  font-size: 80px;
}

.nav {
  text-align: start;
}

.nav-item {
  padding: 50px;
  color: black;
  font-weight: 900;
  font-size: 30px;
  text-decoration: none;
}

.home-container {
  padding: 200px;
  height: 100vh;
  font-size: 60px;
}

/* ARTICLE AND ARTICLE CARD STYLING */
.article-list {
  padding: 30px;
}
.article-card {
  margin: 20px;
  padding: 20px;
  border-bottom: 4px solid grey;
  background-color: white;
  border-radius: 20px;
}
